<div>
    <button class="wd-button-primary" id="manipulate-modal-button-1">弹窗套娃</button>
</div>
<% for (var i = 0; i < arr.length; i ++) { %>
<div class="manipulate-modal-row"><%= arr[i] %></div>
<% } %>