<% for (var i = 0; i < list.length; i ++) { %><a class="wd-chooser-button <%= i === list.length - 1 ? 'wd-chooser-button-last' : ''%>"
   data-index="<%= i %>"
   data-value="<%= list[i].value %>"
   data-is-first="true"
><%= list[i].text %></a><% } %>