.number-input {
    position: absolute;
    z-index: 10;
    display: none;
    overflow: hidden;
    width: 50px;
}

.number-input-plus,
.number-input-reduce {
    width: 50%;
    height: 100%;
    font-size: 12px;
    background: #4a608e;
    color: white;
    outline: none;
    border: 1px solid #eee;
    cursor: pointer;
}

.number-input-plus:active,
.number-input-reduce:active {
    background: #2d4163;
}

.number-input-plus {
    float: left;
}

.number-input-reduce {
    float: right;
}