<div class="wd-search-super-wrap">
    <div class="wd-search-super-view">
        <a class="wd-search-super-view-button"></a>
        <a class="wd-search-super-view-clean"></a>
    </div>
    <div class="wd-search-super-pop">
        <div class="wd-search-super-input-wrap">
            <input class="wd-search-super-input" type="text">
        </div>
        <ul class="wd-search-super-list" style="display: none"></ul>
        <div class="wd-search-super-history">
            <div class="wd-search-super-history-head">
                <span class="wd-search-super-history-head-title">历史记录：</span>
                <a class="wd-search-super-history-head-clean-all">清空</a>
            </div>
            <div class="wd-search-super-history-no-data">当前暂无历史记录</div>
            <ul class="wd-search-super-history-list"></ul>
        </div>
    </div>
</div>