<li class="display-list-3-item">
    <div>
        <label>
            <input class="js-display-list-checkbox-item" type="checkbox" value="<%= id %>">
            <span class="display-list-3-title"><%= title %></span>
        </label>
    </div>
    <div class="display-list-3-time"><%= time %></div>
</li>