<thead class="wd-table-thead">
    <tr>
        <% for (var i = 0; i < colList.length; i ++) { %>
            <th class="<%= colList[i].sorter ? 'wd-table-head-sorter' : '' %>"
                data-index="<%= i %>"
            >
                <span class="wd-table-head-text"><%- colList[i].title %></span>
            </th>
        <% } %>
    </tr>
</thead>