<label class="wd-table-checkbox-label">
    <input
            class="<%= className %>"
            type="checkbox"
            data-index="<%= dataIndex %>"
            data-value="<%= dataValue %>"
            <%= shouldDisable ? 'disabled="disabled' : ''%>
    />
</label>