<div class="wd-transfer-left">
    <div class="wd-transfer-tittle">待选</div>
    <div>
        <select class="wd-transfer-list" multiple>
            <% for (var i = 0; i < list.length; i ++) { %>
            <option value="<%= list[i].value %>"><%= list[i].text %></option>
            <% } %>
        </select>
    </div>
</div>
<div class="wd-transfer-buttons">
    <div><button class="wd-transfer-button wd-button wd-transfer-add">添加</button></div>
    <div><button class="wd-transfer-button wd-button wd-transfer-remove">删除</button></div>
    <div><button class="wd-transfer-button wd-button wd-transfer-clear">清空</button></div>
</div>
<div class="wd-transfer-right">
    <div class="wd-transfer-tittle">已选</div>
    <div>
        <select class="wd-transfer-value" multiple>
            <% for (var j = 0; j < valueList.length; j ++) { %>
            <option value="<%= valueList[j].value %>"><%= valueList[j].text %></option>
            <% } %>
        </select>
    </div>
</div>