<% var j; %>
<% for (var i = 0; i < textList.length; i = i + dropDownCol) { %>
<div class="wd-tabs-dropdown-row">
    <% for (j = i; j < i + dropDownCol && j < textList.length; j ++) { %>
    <div class="wd-tabs-dropdown-item">
        <a class="wd-tabs-dropdown-button%>"
           data-index="<%= j %>"
        >
            <%= textList[j] %>
        </a>
    </div>
    <% } %>
</div>
<% } %>
