<div class="wd-navigator">
    <div class="wd-navigator-list-wrap">
        <ul class="wd-navigator-list"></ul>
    </div>
    <a class="wd-navigator-left"></a>
    <a class="wd-navigator-right"></a>
</div>