<div class="modal-background"></div>
<div class="modal-body">
    <div class="modal-header"></div>
    <div class="modal-content"></div>
    <div class="modal-footer">
        <button class="modal-button modal-button-primary">确定</button>
        <button class="modal-button">取消</button>
    </div>
</div>