<span class="wd-checkboxes">
    <% if (hasAll) { %>
    <label><input class="wd-checkboxes-all" type="checkbox"><span>全选</span></label>
    <% } %>
    <span class="wd-checkbox-item-list-wrap">
        <% for (var i = 0; i < list.length; i ++) { %>
        <label>
            <input class="wd-checkboxes-item" type="checkbox" value="<%= list[i].value %>" data-index="<%= i %>">
            <span><%= list[i].text %></span>
        </label>
        <% } %>
    </span>
</span>

