<div class="wd-search-wrap">
    <div class="wd-search-view">
        <a class="wd-search-view-button"></a>
        <a class="wd-search-view-clean"></a>
    </div>
    <div class="wd-search-pop">
        <div class="wd-search-input-wrap">
            <input class="wd-search-input" type="text">
        </div>
        <ul class="wd-search-list"></ul>
    </div>
</div>