<div class="wd-dialog-body">
    <div class="wd-dialog-content">
        <%- content %>
    </div>
    <% if (handleList.length > 0) { %>
    <div class="wd-dialog-footer">
        <% for (var i = 0; i < handleList.length; i ++) { %>
        <button class="wd-dialog-button
            <%if (handleList[i].isPrimary) { %>wd-dialog-button-primary wd-button-primary<% } %>
            <%if (!handleList[i].isPrimary) { %>wd-button<% } %>
            "
            data-index="
            <%= i %>
            "
        >
            <%= handleList[i].text %>
        </button>
        <% } %>
    </div>
    <% } %>
</div>
<div class="wd-dialog-arrow-border"></div>
<div class="wd-dialog-arrow"></div>
