.slider {
    overflow: hidden;
}

.slider-bar {
    position: relative;
    margin: 10px 6px;
    height: 4px;
    width: 200px;
    background: #bbb;
}

.slider-range {
    height: 0;
    width: 0;
    background: #93b1ff;
}

.slider-handler {
    position: absolute;
    top: -3px;
    left: 0;
    margin-left: -3px;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    background: #3a9dff;
    cursor: move;
}