</div>

<script src="../../bower_components/requirejs/require.js"></script>
<script>
	require.config({
		baseUrl: './',
		paths: {
			jquery: '../../bower_components/jquery/dist/jquery',
			underscore: '../../bower_components/underscore/underscore',
			text: '../../bower_components/text/text',
			store2: '../../bower_components/store2/dist/store2',
			json3: '../../bower_components/json3/lib/json3',
            bignumber: '../vendor/bignumber',
			mock: '../../bower_components/mockjs/dist/mock',

			checkboxAll: '../../lib/checkboxAll/checkboxAll',
			checkboxes: '../../lib/checkboxes/checkboxes',
			chooser: '../../lib/chooser/chooser',
			datePicker: '../../lib/datePicker/datePicker',
			dialog: '../../lib/dialog/dialog',
			fixedHeadTable: '../../lib/fixedHeadTable/fixedHeadTable',
			input: '../../lib/input/input',
			items: '../../lib/items/items',
			list: '../../lib/list/list',
			loading: '../../lib/loading/loading',
			menu: '../../lib/menu/menu',
			message: '../../lib/message/message',
			modal: '../../lib/modal/modal',
			navigator: '../../lib/navigator/navigator',
			notify: '../../lib/notify/notify',
			number: '../../lib/number/number',
			pager: '../../lib/pager/pager',
			responsive: '../../lib/responsive/responsive',
			search: '../../lib/search/search',
			searchInput: '../../lib/searchInput/searchInput',
			searchSuper: '../../lib/searchSuper/searchSuper',
			select: '../../lib/select/select',
			slider: '../../lib/slider/slider',
			table: '../../lib/table/table',
			tabs: '../../lib/tabs/tabs',
			tooltip: '../../lib/tooltip/tooltip',
			transfer: '../../lib/transfer/transfer',
			tree: '../../lib/tree/tree',
			treeChoose: '../../lib/treeChoose/treeChoose',
			treeTable: '../../lib/treeTable/treeTable',

			'util/browser': '../../lib/util/browser',
			'util/renderEjs': '../../lib/util/renderEjs',
			'util/trans': '../../lib/util/trans',
		}
	})
</script>
<script>
	require(['./index'])
</script>
</body>
</html>