<script src="../../bower_components/requirejs/require.js"></script>
<script>
	require.config({
		baseUrl: './',
		paths: {
			jquery: '../../bower_components/jquery/dist/jquery',
			underscore: '../../bower_components/underscore/underscore',
			text: '../../bower_components/text/text'
		}
	})
</script>
<script>
	require(['./index'])
</script>
</body>
</html>