<div class="wd-tree-choose-wrap">
    <div class="wd-tree-choose-view">
        <a class="wd-tree-choose-view-button"></a>
    </div>
    <div class="wd-tree-choose-pop">
        <div class="wd-tree-choose-input-wrap">
            <input class="wd-tree-choose-input" type="text">
        </div>
        <ul class="wd-tree-choose-list"></ul>
        <div class="wd-tree-choose-footer"><button class="wd-tree-choose-cancel">取消</button><button class="wd-tree-choose-submit">确定</button></div>
    </div>
</div>