<div class="wd-notify-body">
    <div class="wd-notify-content">
        <%- content %>
    </div>
    <% if (handleList.length > 0) {%>
    <div class="wd-notify-footer">
        <% for (var i = 0; i < handleList.length; i ++) { %>
        <button class="wd-notify-button
            <%if (handleList[i].isPrimary) { %>wd-notify-button-primary wd-button-primary<% } %>
            <%if (!handleList[i].isPrimary) { %>wd-button<% } %>
            "
            data-index="
            <%= i %>
            "
        >
            <%= handleList[i].text %>
        </button>
        <% } %>
    </div>
    <% } %>
</div>
<div class="wd-notify-close">x</div>