.message {
    position: fixed;
    z-index: 20;
    left: 50%;
    margin-left: -187px;
    border-radius: 4px;
    box-shadow: 0 0 20px 1px #ddd;
    padding: 14px 54px 14px 20px;
    width: 300px;

    font-size: 12px;
    opacity: 0;
    color: #888;
    background: #bed9ff;
}

.message-success {
    background: #d6ffe1;
}

.message-fail {
    background: #ffd5b7;
}

.message-close {
    position: absolute;
    top: 50%;
    right: 14px;
    margin-top: -8px;
    width: 14px;
    height: 14px;
    line-height: 1;
    cursor: pointer;
}

.message-close:hover {
    color: #444;
}