html,
body {
    height: 100%;
}

#menu {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #222222;
    overflow-y: auto;
}

.project-content {
    margin-left: 200px;
}

.top-bar {
    padding-top: 10px;
    border-bottom: 1px solid #DDDDDD;
    background: #FAFBFC;
}

.card {
    margin: 16px;
    border: 1px solid #dddddd;
}

.tab-item-current {
    color: #cba62d;
    border-bottom-color: #cba62d;
}