<div class="wd-card card">
    <div class="wd-card-head">
        <div class="wd-card-head-title">表单类组件</div>
    </div>
    <div class="wd-card-body">
        <div class="wd-row">
            <div class="wd-col-3">
                <div class="wd-field">
                    <div class="wd-field-title">文本输入框：</div>
                    <div class="wd-field-content">
                        <input class="wd-input" type="text">
                        <div class="wd-field-ie8-placeholder">请输入文字内容</div>
                    </div>
                </div>
            </div>
            <div class="wd-col-3">
                <div class="wd-field">
                    <div class="wd-field-title">下拉输入框：</div>
                    <div class="wd-field-content">
                        <select class="wd-select">
                            <option value="1">aaa</option>
                            <option value="2">bbb</option>
                            <option value="3">ccc</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="wd-col-3">
                <div class="wd-field">
                    <div class="wd-field-title">数字输入框：</div>
                    <div class="wd-field-content">
                        <input class="wd-input" type="text" id="form-number-1">
                    </div>
                </div>
            </div>
            <div class="wd-col-3">
                <div class="wd-field">
                    <div class="wd-field-title">下拉搜索框：</div>
                    <div class="wd-field-content">
                        <span id="form-search-1"></span>
                    </div>
                </div>
            </div>
            <div class="wd-col-3">
                <div class="wd-field">
                    <div class="wd-field-title">树状单选框：</div>
                    <div class="wd-field-content">
                        <span id="form-tree-choose-1"></span>
                    </div>
                </div>
            </div>
            <div class="wd-col-3">
                <div class="wd-field">
                    <div class="wd-field-title">树状多选框：</div>
                    <div class="wd-field-content">
                        <span id="form-tree-choose-2"></span>
                    </div>
                </div>
            </div>
            <div class="wd-col-3">
                <div class="wd-field">
                    <div class="wd-field-title">时间范围：</div>
                    <div class="wd-field-content">
                        <input class="wd-input-short date-picker" type="text">
                        -
                        <input class="wd-input-short date-picker" type="text">
                    </div>
                </div>
            </div>
            <div class="wd-col-3">
                <div class="wd-field">
                    <div class="wd-field-title">滑块选择器：</div>
                    <div class="wd-field-content">
                        <div id="form-slider-1"></div>
                    </div>
                </div>
            </div>
            <div class="wd-col-3">
                <div class="wd-field">
                    <div class="wd-field-title">多选框列表：</div>
                    <div class="wd-field-content">
                        <span id="form-checkboxes-1"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="wd-row">
            <div class="wd-col-3-2">
                <div class="wd-field">
                    <div class="wd-field-title">穿梭框：</div>
                    <div class="wd-field-content">
                        <div id="form-transfer-1"></div>
                    </div>
                </div>
            </div>
            <div class="wd-col-3">
                <div class="wd-field">
                    <div class="wd-field-title">文本域：</div>
                    <div class="wd-field-content">
                        <textarea class="wd-textarea" id="form-textarea-1"></textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>