<div class="wd-card card">
    <div class="wd-card-head">
        <div class="wd-card-head-title">展示类组件</div>
    </div>
    <div class="wd-card-body-full">
        <div class="wd-tab">
            <ul class="wd-tab-list">
                <li class="wd-tab-item"><a class="wd-tab-item-link" id="tab1">表格</a></li>
                <li class="wd-tab-item"><a class="wd-tab-item-link" id="tab2">树状表格</a></li>
                <li class="wd-tab-item"><a class="wd-tab-item-link" id="tab3">各种树</a></li>
                <li class="wd-tab-item"><a class="wd-tab-item-link" id="tab4">列表+分页器</a></li>
            </ul>
        </div>
    </div>
    <div class="wd-tab-pane" id="tabPane1">
        <div class="wd-card-body-full">
            <div id="display-table"></div>
        </div>
        <div class="wd-card-foot">
            <div id="display-page-1"></div>
        </div>
    </div>
    <div class="wd-tab-pane" id="tabPane2">
        <div class="wd-card-body-full">
            <div id="display-tree-table"></div>
        </div>
    </div>
    <div class="wd-tab-pane" id="tabPane3">
        <div class="wd-card-body">
            <div class="wd-row">
                <div class="wd-col-4">
                    <div class="display-head">普通树：</div>
                    <ul id="display-tree-1"></ul>
                </div>
                <div class="wd-col-4">
                    <div class="display-head">单选树：</div>
                    <ul id="display-tree-2"></ul>
                </div>
                <div class="wd-col-4">
                    <div class="display-head">多选树：</div>
                    <ul id="display-tree-3"></ul>
                </div>
                <div class="wd-col-4">
                    <div class="display-head">自定义树：</div>
                    <ul id="display-tree-4"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="wd-tab-pane" id="tabPane4">
        <div class="wd-card-body">
            <div class="wd-row">
                <div class="wd-col-3">
                    <div class="display-head">列表1：</div>
                    <ul id="display-list-1"></ul>
                </div>
                <div class="wd-col-3">
                    <div class="display-head">列表2：</div>
                    <ul id="display-list-2"></ul>
                </div>
                <div class="wd-col-3">
                    <div class="display-head">列表3：<input id="display-list-3-all" type="checkbox"></div>
                    <ul id="display-list-3"></ul>
                </div>
            </div>
        </div>
        <div class="wd-card-foot">
            <div id="display-page-2"></div>
        </div>
    </div>
</div>