<div class="wd-card card">
    <div class="wd-card-head">
        <div class="wd-card-head-title">操控类组件</div>
    </div>
    <div class="wd-card-body" id="manipulate-card-body">
        <div class="wd-row">
            <div class="wd-col-3">
                <div class="wd-field">
                    <div class="wd-field-title">按钮：</div>
                    <div class="wd-field-content">
                        <button class="wd-button-primary">主按钮</button>
                        <button class="wd-button">副按钮</button>
                        <a class="wd-link">链接按钮</a>
                    </div>
                </div>
            </div>
            <div class="wd-col-3">
                <div class="wd-field">
                    <div class="wd-field-title">标签：</div>
                    <div class="wd-field-content">
                        <span id="manipulate-items-1"></span>
                    </div>
                </div>
            </div>
            <div class="wd-col-3">
                <div class="wd-field">
                    <div class="wd-field-title">选择器：</div>
                    <div class="wd-field-content">
                        <span id="manipulate-chooser-1"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="wd-row">
            <div class="wd-col-3">
                <div class="wd-field">
                    <div class="wd-field-title">模态框：</div>
                    <div class="wd-field-content">
                        <button class="wd-button" id="manipulate-modal-1">少量内容</button>
                        <button class="wd-button" id="manipulate-modal-2">大量内容</button>
                    </div>
                </div>
            </div>
            <div class="wd-col-3">
                <div class="wd-field">
                    <div class="wd-field-title">对话框：</div>
                    <div class="wd-field-content">
                        <button class="wd-button" id="manipulate-dialog-1">无按钮</button>
                        <button class="wd-button" id="manipulate-dialog-2">有按钮</button>
                    </div>
                </div>
            </div>
            <div class="wd-col-3">
                <div class="wd-field">
                    <div class="wd-field-title">提示框：</div>
                    <div class="wd-field-content">
                        <button class="wd-button manipulate-tooltip-1" label="Hello, Widgets!">鼠标移入</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="wd-row">
            <div class="wd-col-3">
                <div class="wd-field">
                    <div class="wd-field-title">消息：</div>
                    <div class="wd-field-content">
                        <button class="wd-button" id="manipulate-message-1">普通</button>
                        <button class="wd-button" id="manipulate-message-2">成功</button>
                        <button class="wd-button" id="manipulate-message-3">失败</button>
                    </div>
                </div>
            </div>
            <div class="wd-col-3">
                <div class="wd-field">
                    <div class="wd-field-title">通知：</div>
                    <div class="wd-field-content">
                        <button class="wd-button" id="manipulate-notify-1">普通</button>
                        <button class="wd-button" id="manipulate-notify-2">成功</button>
                        <button class="wd-button" id="manipulate-notify-3">失败</button>
                    </div>
                </div>
            </div>
            <div class="wd-col-3">
                <div class="wd-field">
                    <div class="wd-field-title">加载：</div>
                    <div class="wd-field-content">
                        <button class="wd-button" id="manipulate-loading-1">加载1秒</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="wd-row">
            <div class="wd-col-3">
                <div class="wd-field">
                    <div class="wd-field-title">导航器：</div>
                    <div class="wd-field-content">
                        <div class="manipulate-field-text">见本页面页面顶部</div>
                    </div>
                </div>
            </div>
            <div class="wd-col-3">
                <div class="wd-field">
                    <div class="wd-field-title">选项卡：</div>
                    <div class="wd-field-content">
                        <div class="manipulate-field-text">见展示类组件中事例</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>