<div class="wd-card card">
    <div class="wd-card-head">
        <div class="wd-card-head-title">展示类组件</div>
    </div>
    <div class="wd-card-body-full">
        <div class="wd-tab">
            <ul class="wd-tab-list">
                <li class="wd-tab-item"><a class="wd-tab-item-link" id="tab1">表格</a></li>
                <li class="wd-tab-item"><a class="wd-tab-item-link" id="tab2">树状表格</a></li>
                <li class="wd-tab-item"><a class="wd-tab-item-link" id="tab3">各种树</a></li>
                <li class="wd-tab-item"><a class="wd-tab-item-link" id="tab4">列表+分页器</a></li>
            </ul>
        </div>
        <div class="wd-tab-pane" id="tabPane1">
            <div id="display-table"></div>
        </div>
        <div class="wd-tab-pane" id="tabPane2">
            <div id="display-tree-table"></div>
        </div>
    </div>
</div>